 # Basics of python
 ## This will include
 - Various datatypes in Python
 - Variables
 - Variables Assignment
 - Print Formatting

## Various datatypes in python - 28-07-2020

#### Numbers

In [1]:
1+1 
# this is addtion for numeric datatype

2

In [2]:
10//3

3

In [3]:
a =  "1temp1"
type(a)

str

In [4]:
print(10*'string ')

string string string string string string string string string string

In [5]:
type(True)
# inbuilt function

bool

In [6]:
type(10.0)
# inbuilt function for float

float

#### Variable Assignment

In [7]:
a = 'This is a very good parctice'
print(a)

This is a very good parctice

In [8]:
a = 10
b = 20
print(a+b)
print(a*b)
print(b-a)

30
200
10

In [9]:
f_n = 'John'
l_n = 'Maria'
print("My first class is {} and college is {}".format(f_n,l_n))
print("My first class is {l_nn} and college is {f_nn}".format(l_nn=f_n,f_nn=l_n))

My first class is John and college is Maria
My first class is John and college is Maria

### Boolean variables

In [10]:
print(True,False)

True False

In [11]:
a1 = 'My world of programming'

In [12]:
print(a1.isalpha())
print(a1.isalnum())
print(a1.istitle())
print(a1.isspace())
print(a1)

False
False
False
False
My world of programming

### Lists

In [13]:
list_sample = []

In [14]:
type(list_sample)

list

In [15]:
l_s = ['good','morning',29,7,2020]

In [16]:
len(l_s)

5

In [17]:
type(l_s)

list

#### Lists append

In [18]:
l_s

['good', 'morning', 29, 7, 2020]

In [19]:
l_s.append('Have a good day')

In [20]:
l_s

['good', 'morning', 29, 7, 2020, 'Have a good day']

In [21]:
lis_num = [1,2,3,4,5]
lis_num

[1, 2, 3, 4, 5]

In [22]:
lis_num.extend([6,7])  # extend
lis_num

[1, 2, 3, 4, 5, 6, 7]

In [23]:
lis_num.extend([8,8]) #duplicate
lis_num

[1, 2, 3, 4, 5, 6, 7, 8, 8]

In [24]:
lis_num.append([9,10])  #append
lis_num

[1, 2, 3, 4, 5, 6, 7, 8, 8, [9, 10]]

In [41]:
print(lis_num[2:5])  # index

print(lis_num[1:-1])
print(lis_num[-3:])

[3, 4, 5]
[2, 3, 4, 5, 6, 7, 8, 8]
[8, 8, [9, 10]]

In [46]:
lis_num*2

[1, 2, 3, 4, 5, 6, 7, 8, 8, [9, 10], 1, 2, 3, 4, 5, 6, 7, 8, 8, [9, 10]]

In [47]:
lis_num.pop()
lis_num

[1, 2, 3, 4, 5, 6, 7, 8, 8]

In [48]:
lis_num.append([9,10])
lis_num

[1, 2, 3, 4, 5, 6, 7, 8, 8, [9, 10]]

### Sets

In [52]:
set_var = ()
set_var_s = set()
type(set_var_s)

set

In [62]:
set_var_s = {1,2,'data',5,4,6,6,'main','type'}  # no duplicates in sets
set_var_q = {2,3,4,'data2'}
print(set_var_s.difference(set_var_q))
print(set_var_s.symmetric_difference(set_var_q))

{1, 5, 'type', 6, 'data', 'main'}
{1, 3, 5, 6, 'type', 'data', 'main', 'data2'}